# bike station

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
weather_file = pd.read_csv('weather.csv')
# weather_file.info()
station_file = pd.read_csv('station.csv')
# station_file.info()
# trip_file = pd.read_csv('trip.csv')
# trip_file.info()#ParserError: Error tokenizing data. C error: Expected 12 fields
trip_file = pd.read_csv('trip.csv',error_bad_lines=False)
trip_file.info()

b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

## What is the average trip duration for a borrowed bicycle?

In [3]:
trip_file.head(10)
ave_tripduration=round(trip_file['tripduration'].mean())
ave_tripduration

1178

## What’s the most common age of a bicycle-sharer?

In [4]:
common_birthyear=trip_file['birthyear'].mode()[0]
common_age=round(2020-common_birthyear)
common_age #33

33

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [5]:

# weather_file.head(100)

# month_10_p1=weather_file[:19]
# month_11=weather_file[20:49]
# month_12=weather_file[50:80]
# month_1=weather_file[81:111]
# month_2=weather_file[112:139]
# month_3=weather_file[140:170]
# month_4=weather_file[171:200]
# month_5=weather_file[200:231]
# month_6=weather_file[231:261]
# month_7=weather_file[261:292]
# month_8=weather_file[292:323]
# month_9=weather_file[323:353]
# month_10_p2=weather_file[353:365]
# month_10 = pd.concat([month_10_p2,month_10_p1])#concation p1+p2
# # month_10['Precipitation_In'].mean()

# data_table = {
#         'month': ['1', '2', '3', '4', '5','6','7', '8', '9', '10', '11','12'],
#         'average precipitation': [month_1['Precipitation_In'].mean(),month_2['Precipitation_In'].mean(),month_3['Precipitation_In'].mean(),month_4['Precipitation_In'].mean(),month_5['Precipitation_In'].mean(),month_6['Precipitation_In'].mean(),month_7['Precipitation_In'].mean(),month_8['Precipitation_In'].mean(),month_9['Precipitation_In'].mean(),month_10['Precipitation_In'].mean(),month_11['Precipitation_In'].mean(),month_12['Precipitation_In'].mean()]}


# render_table = pd.DataFrame(data_table, columns = ['month', 'average precipitation'])

# render_table

In [6]:
weather_file.head(100)
def get_month(date_str):
    return int(date_str.split('/')[0])
weather_file['Month']=weather_file['Date'].apply(get_month)
weather_file.head(100)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1/16/2015,55,50.0,44,45,40,36,87,71,57,...,29.82,10,10,10,13,8,22,0.00,NaN,1
96,1/17/2015,55,46.0,39,52,41,35,90,84,73,...,29.60,10,6,3,17,1,23,0.76,Rain,1
97,1/18/2015,60,54.0,48,51,44,42,82,73,67,...,29.64,10,9,3,22,14,36,0.23,Rain,1
98,1/19/2015,52,49.0,46,43,42,40,83,76,66,...,30.27,10,10,7,10,5,-,0.03,Rain,1
99,1/20/2015,51,46.0,39,39,38,34,87,76,59,...,30.35,10,10,9,9,1,-,0.00,NaN,1

In [7]:
Precipitation=weather_file.groupby('Month')['Precipitation_In']
Precipitation.mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

## the median precipitation.

In [8]:
Precipitation.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

In [9]:

# #I am not sure what median he wants, so pick one of them :p
# median1=weather_file['Precipitation_In'].median()
# median1
# # _______________________________
# average_precipitation_li=data_table['average precipitation']
# import statistics #to find the median to a list
# median2=statistics.median(average_precipitation_li)
# median2

## What’s the average number of bikes at a given bike station?

In [10]:
station_file.head(10)
BT=station_file[:4]
CBD=station_file[4:10]
CD=station_file[10:11]
CH1=station_file[11:21]####
DPD=station_file[21:23]
EL=station_file[23:26]
FH=station_file[26:28]
ID=station_file[28:29]
PS=station_file[29:31]
SLU1=station_file[31:42]####
UD=station_file[42:46]
UW1=station_file[46:52]####
WF1=station_file[52:54]####
CH2=station_file[54:55]####
SLU2=station_file[55:56]###
UW2=station_file[56:57]####
WF2=station_file[57:58]####

CH=pd.concat([CH2,CH1])#concation
UW=pd.concat([UW2,UW1])#concation
WF=pd.concat([WF2,WF1])#concation
SLU=pd.concat([SLU2,SLU1])#concation

station_table = {
        'statio_name': ['BT', 'CBD', 'CD', 'CH', 'DPD','EL','FH', 'ID', 'PS', 'SLU', 'UD','UW','WF'],
        'bikes_average_number': [BT['current_dockcount'].mean(),CBD['current_dockcount'].mean(),CD['current_dockcount'].mean(),CH['current_dockcount'].mean(),DPD['current_dockcount'].mean(),EL['current_dockcount'].mean(),FH['current_dockcount'].mean(),ID['current_dockcount'].mean(),PS['current_dockcount'].mean(),SLU['current_dockcount'].mean(),UD['current_dockcount'].mean(),UW['current_dockcount'].mean(),WF['current_dockcount'].mean()]}


render_station_table = pd.DataFrame(station_table, columns = ['statio_name', 'bikes_average_number'])

render_station_table

In [26]:
station_file
dock_count=station_file[station_file['decommission_date'].notnull()]
# print(dock_count.mean())
all=station_file[station_file['decommission_date'].isnull()]
z=all.mean()

#the average number of bikes at a given bike station
verage_number=z.current_dockcount
verage_number

17.74074074074074

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [12]:
# station_file.head(10)
# # BT.describe()
# # BT.describe()['current_dockcount']['mean']-BT.describe()['install_dockcount']['mean']
# BT_modified=round(BT['current_dockcount'].mean())-round(BT['install_dockcount'].mean())
# CBD_modified=round(CBD['current_dockcount'].mean())-round(CBD['install_dockcount'].mean())
# CD_modified=round(CD['current_dockcount'].mean())-round(CD['install_dockcount'].mean())
# CH_modified=round(CH['current_dockcount'].mean())-round(CH['install_dockcount'].mean())
# DPD_modified=round(DPD['current_dockcount'].mean())-round(DPD['install_dockcount'].mean())
# EL_modified=round(EL['current_dockcount'].mean())-round(EL['install_dockcount'].mean())
# FH_modified=round(FH['current_dockcount'].mean())-round(FH['install_dockcount'].mean())
# ID_modified=round(ID['current_dockcount'].mean())-round(ID['install_dockcount'].mean())
# PS_modified=round(PS['current_dockcount'].mean())-round(PS['install_dockcount'].mean())
# SLU_modified=round(SLU['current_dockcount'].mean())-round(SLU['install_dockcount'].mean())
# UD_modified=round(UD['current_dockcount'].mean())-round(UD['install_dockcount'].mean())
# UW_modified=round(UW['current_dockcount'].mean())-round(UW['install_dockcount'].mean())
# WF_modified=round(WF['current_dockcount'].mean())-round(WF['install_dockcount'].mean())

In [13]:
# dropna
# count
# sum
station=station_file[['modification_date','install_dockcount','current_dockcount']].dropna()
station['current_dockcount'].sum()-station['install_dockcount'].sum()

-64

In [14]:
# li_modified_station=[BT_modified,CBD_modified,CD_modified,CH_modified,DPD_modified,EL_modified,FH_modified,ID_modified,PS_modified,SLU_modified,UD_modified,UW_modified,WF_modified]

# lose_or_gain=[]
# for i in li_modified_station:
#     if i > 0 :
#         lose_or_gain.append('gain')
#     elif i < 0 :
#         lose_or_gain.append('lose')
#     else:
#         lose_or_gain.append('same')

# # lose_or_gain



# lose_gain_table = {
#         'statio_name': ['BT', 'CBD', 'CD', 'CH', 'DPD','EL','FH', 'ID', 'PS', 'SLU', 'UD','UW','WF'],
#         'current-past':li_modified_station,
#         'status':lose_or_gain}


# render_after_modified_table = pd.DataFrame(lose_gain_table, columns = ['statio_name', 'current-past','status'])

# render_after_modified_table

### what is the number for all the current bikes for all station ?

In [15]:
station_file['current_dockcount'].sum()

958

### what is the station which has the greates bikes average ?

In [16]:
top=render_station_table[['statio_name','bikes_average_number']].sort_values('bikes_average_number', ascending=False).head(1)
top

NameError: name 'render_station_table' is not defined

### what is the station which has the lowest bikes average ?

In [ ]:
q=render_station_table[['statio_name','bikes_average_number']].sort_values('bikes_average_number', ascending=True).head(1)
q