# bike station

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [225]:
weather_file = pd.read_csv('weather.csv')
# weather_file.info()
station_file = pd.read_csv('station.csv')
# station_file.info()
# trip_file = pd.read_csv('trip.csv')
# trip_file.info()#ParserError: Error tokenizing data. C error: Expected 12 fields
trip_file = pd.read_csv('trip.csv',error_bad_lines=False)
trip_file.info()

b'Skipping line 50794: expected 12 fields, saw 20\n'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

## What is the average trip duration for a borrowed bicycle?

In [226]:
trip_file.head(10)
ave_tripduration=round(trip_file['tripduration'].mean())
ave_tripduration

1178

## What’s the most common age of a bicycle-sharer?

In [227]:
common_birthyear=trip_file['birthyear'].mode()[0]
common_age=round(2020-common_birthyear)
common_age #33

33

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [228]:

weather_file.head(100)

month_10_p1=weather_file[:19]
month_11=weather_file[20:49]
month_12=weather_file[50:80]
month_1=weather_file[81:111]
month_2=weather_file[112:139]
month_3=weather_file[140:170]
month_4=weather_file[171:200]
month_5=weather_file[200:231]
month_6=weather_file[231:261]
month_7=weather_file[261:292]
month_8=weather_file[292:323]
month_9=weather_file[323:353]
month_10_p2=weather_file[353:365]
month_10 = pd.concat([month_10_p2,month_10_p1])#concation p1+p2
# month_10['Precipitation_In'].mean()

data_table = {
        'month': ['1', '2', '3', '4', '5','6','7', '8', '9', '10', '11','12'],
        'average precipitation': [month_1['Precipitation_In'].mean(),month_2['Precipitation_In'].mean(),month_3['Precipitation_In'].mean(),month_4['Precipitation_In'].mean(),month_5['Precipitation_In'].mean(),month_6['Precipitation_In'].mean(),month_7['Precipitation_In'].mean(),month_8['Precipitation_In'].mean(),month_9['Precipitation_In'].mean(),month_10['Precipitation_In'].mean(),month_11['Precipitation_In'].mean(),month_12['Precipitation_In'].mean()]}


render_table = pd.DataFrame(data_table, columns = ['month', 'average precipitation'])

render_table

# regex is the practical way (T_T)
# import re

# regex = r"(^\d+)"

# testtttt = ("1/5\n"
# 	"12/8")

   month  average precipitation
0      1               0.073000
1      2               0.167778
2      3               0.139667
3      4               0.056897
4      5               0.014194
5      6               0.005667
6      7               0.008710
7      8               0.035484
8      9               0.041000
9     10               0.233226
10    11               0.146552
11    12               0.150000

## the median precipitation.

In [229]:

#I am not sure what median he wants, so pick one of them :p
median1=weather_file['Precipitation_In'].median()
median1
# _______________________________
average_precipitation_li=data_table['average precipitation']
import statistics #to find the median to a list
median2=statistics.median(average_precipitation_li)
median2

0.06494827586206897

## What’s the average number of bikes at a given bike station?

In [230]:
station_file.head(10)
BT=station_file[:4]
CBD=station_file[4:10]
CD=station_file[10:11]
CH1=station_file[11:21]####
DPD=station_file[21:23]
EL=station_file[23:26]
FH=station_file[26:28]
ID=station_file[28:29]
PS=station_file[29:31]
SLU1=station_file[31:42]####
UD=station_file[42:46]
UW1=station_file[46:52]####
WF1=station_file[52:54]####
CH2=station_file[54:55]####
SLU2=station_file[55:56]###
UW2=station_file[56:57]####
WF2=station_file[57:58]####

CH=pd.concat([CH2,CH1])#concation
UW=pd.concat([UW2,UW1])#concation
WF=pd.concat([WF2,WF1])#concation
SLU=pd.concat([SLU2,SLU1])#concation

station_table = {
        'statio_name': ['BT', 'CBD', 'CD', 'CH', 'DPD','EL','FH', 'ID', 'PS', 'SLU', 'UD','UW','WF'],
        'bikes_average_number': [BT['current_dockcount'].mean(),CBD['current_dockcount'].mean(),CD['current_dockcount'].mean(),CH['current_dockcount'].mean(),DPD['current_dockcount'].mean(),EL['current_dockcount'].mean(),FH['current_dockcount'].mean(),ID['current_dockcount'].mean(),PS['current_dockcount'].mean(),SLU['current_dockcount'].mean(),UD['current_dockcount'].mean(),UW['current_dockcount'].mean(),WF['current_dockcount'].mean()]}


render_station_table = pd.DataFrame(station_table, columns = ['statio_name', 'bikes_average_number'])

render_station_table

   statio_name  bikes_average_number
0           BT             16.000000
1          CBD             19.000000
2           CD              0.000000
3           CH             17.454545
4          DPD             21.000000
5           EL             17.333333
6           FH             10.000000
7           ID             16.000000
8           PS             18.000000
9          SLU             17.000000
10          UD             17.000000
11          UW             12.857143
12          WF             20.000000

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [243]:
station_file.head(10)
# BT.describe()
# BT.describe()['current_dockcount']['mean']-BT.describe()['install_dockcount']['mean']
BT_modified=round(BT['current_dockcount'].mean())-round(BT['install_dockcount'].mean())
CBD_modified=round(CBD['current_dockcount'].mean())-round(CBD['install_dockcount'].mean())
CD_modified=round(CD['current_dockcount'].mean())-round(CD['install_dockcount'].mean())
CH_modified=round(CH['current_dockcount'].mean())-round(CH['install_dockcount'].mean())
DPD_modified=round(DPD['current_dockcount'].mean())-round(DPD['install_dockcount'].mean())
EL_modified=round(EL['current_dockcount'].mean())-round(EL['install_dockcount'].mean())
FH_modified=round(FH['current_dockcount'].mean())-round(FH['install_dockcount'].mean())
ID_modified=round(ID['current_dockcount'].mean())-round(ID['install_dockcount'].mean())
PS_modified=round(PS['current_dockcount'].mean())-round(PS['install_dockcount'].mean())
SLU_modified=round(SLU['current_dockcount'].mean())-round(SLU['install_dockcount'].mean())
UD_modified=round(UD['current_dockcount'].mean())-round(UD['install_dockcount'].mean())
UW_modified=round(UW['current_dockcount'].mean())-round(UW['install_dockcount'].mean())
WF_modified=round(WF['current_dockcount'].mean())-round(WF['install_dockcount'].mean())

             lat        long  install_dockcount  current_dockcount
count   4.000000    4.000000           4.000000           4.000000
mean   47.615863 -122.346209          16.000000          16.000000
std     0.002173    0.004406           1.632993           1.632993
min    47.613110 -122.350964          14.000000          14.000000
25%    47.615149 -122.349164          15.500000          15.500000
50%    47.615961 -122.346386          16.000000          16.000000
75%    47.616675 -122.343432          16.500000          16.500000
max    47.618418 -122.341102          18.000000          18.000000

In [215]:
li_modified_station=[BT_modified,CBD_modified,CD_modified,CH_modified,DPD_modified,EL_modified,FH_modified,ID_modified,PS_modified,SLU_modified,UD_modified,UW_modified,WF_modified]

lose_or_gain=[]
for i in li_modified_station:
    if i > 0 :
        lose_or_gain.append('gain')
    elif i < 0 :
        lose_or_gain.append('lose')
    else:
        lose_or_gain.append('same')

# lose_or_gain



lose_gain_table = {
        'statio_name': ['BT', 'CBD', 'CD', 'CH', 'DPD','EL','FH', 'ID', 'PS', 'SLU', 'UD','UW','WF'],
        'current-past':li_modified_station,
        'status':lose_or_gain}


render_after_modified_table = pd.DataFrame(lose_gain_table, columns = ['statio_name', 'current-past','status'])

render_after_modified_table

   statio_name  current-past status
0           BT             0   same
1          CBD             0   same
2           CD           -16   lose
3           CH            -1   lose
4          DPD            -3   lose
5           EL             1   gain
6           FH            -8   lose
7           ID             0   same
8           PS             0   same
9          SLU            -1   lose
10          UD             0   same
11          UW            -3   lose
12          WF             2   gain

### what is the number for all the current bikes for all station ?

In [232]:
station_file['current_dockcount'].sum()

958

### what is the station which has the greates bikes average ?

In [233]:
top=render_station_table[['statio_name','bikes_average_number']].sort_values('bikes_average_number', ascending=False).head(1)
top

  statio_name  bikes_average_number
4         DPD                  21.0

### what is the station which has the lowest bikes average ?

In [234]:
q=render_station_table[['statio_name','bikes_average_number']].sort_values('bikes_average_number', ascending=True).head(1)
q

  statio_name  bikes_average_number
2          CD                   0.0