# Vg stats

In [ ]:
import pandas as pd
import numpy as np
#ubuntu :poetry add matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
df = pd.read_csv('./vgsales.csv')
#Notes_________________________________________
# df.tail(10)
# df.head(10)
# df.describe()# col +mean min max ...
# df.info() # how many col do i have +the data type
# df.keys() #col names
# std() function return sample standard deviation over requested axis.
# df.iloc[1]  #to access specific row
# all_Publisher = df['Publisher'].tail(10)# to access specific col_last 10
# all_Publisher = df['Publisher'].mode() # mode :the maximum frequency
# all_recovered.tail(10).mean()## average

## Which company is the most common video game publisher?

In [33]:
all_Publisher = df['Publisher'].mode()
most_common_publisher=all_Publisher[0]
most_common_publisher

'Electronic Arts'

## What’s the most common platform?

In [34]:
all_Platforms = df['Platform'].mode()
most_common_platform=all_Platforms[0]
most_common_platform

'DS'

## What about the most common genre?

In [35]:
all_Genres = df['Genre'].mode()
most_common_genre=all_Genres[0]
most_common_genre

'Action'

## What are the top 20 highest grossing games?

In [36]:

# x=df['Global_Sales'].sort_values().iloc[-1:-20:-1]
# x
# df[["Name", "Global_Sales"]]



top_twenty_highest_grossing_games=df[['Name','Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
top_twenty_highest_grossing_games
# top_twenty_highest_grossing_games.iloc[0].Name
# top_twenty_highest_grossing_games.iloc[19].Name

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## For North American video game sales, what’s the median?

In [37]:
North_American_median= df["NA_Sales"].median()
print(North_American_median)######the answer0.08
# ________________________
games_have_same_median = df[df["NA_Sales"] == North_American_median]
# games_have_same_median
# games_have_same_median[:10]
# ________________________
#Provide a secondary output showing ten games surrounding the median sales output
#assume that games with same median value are sorted in descending order
# ________________________
num_of_games=len(games_have_same_median)
num_of_games#459
round(num_of_games/2)#230
secondary_output=games_have_same_median[225:236]#to get 10 from the center of games_have_same_median
# _________________________
names=games_have_same_median[225:236]
# ten_median_names=names[['Name']]
ten_median_names=names['Name']
print(ten_median_names)

# _________________________
ten_median_na_seller_names=[]
for i in range(11):
    ten_median_na_seller_names.append(ten_median_names.iloc[i])
print("_"*60)
print(ten_median_na_seller_names)
# ________________________

0.08
9934                          Turok: Evolution
9957                                  Deadpool
9996                GT Advance 2: Rally Racing
10000                           A Witch's Tale
10012                        Nickelodeon Dance
10020                 Phantasy Star Collection
10022                    LEGO Knights' Kingdom
10024       Family Game Night 4: The Game Show
10026                             NBA Jam 2002
10029                 Tony Hawk's Pro Skater 5
10042    Tom Clancy's Rainbow Six: Rogue Spear
Name: Name, dtype: object
____________________________________________________________
['Turok: Evolution', 'Deadpool', 'GT Advance 2: Rally Racing', "A Witch's Tale", 'Nickelodeon Dance', 'Phantasy Star Collection', "LEGO Knights' Kingdom", 'Family Game Night 4: The Game Show', 'NBA Jam 2002', "Tony Hawk's Pro Skater 5", "Tom Clancy's Rainbow Six: Rogue Spear"]

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [38]:
df.sort_values("Global_Sales", ascending=False)
the_top_selling_game=df.sort_values("Global_Sales", ascending=False).iloc[0]
the_top_selling_game_sales_in_NA=df.sort_values("Global_Sales", ascending=False).iloc[0].NA_Sales

"""
I am not sure
https://www.statisticshowto.com/probability-and-statistics/z-score/:~:text=Z%20scores%20and%20Standard%20Deviations,-Technically%2C%20a%20z&text=A%20z%2Dscore%20of%201,standard%20deviations%20below%20the%20mean.

z-score it a measure of how many standard deviations below or above the population mean a raw score is.
z = (x – μ) / σ
"""

mean_NA=df["NA_Sales"].mean()
std_NA=df["NA_Sales"].std()
z=(the_top_selling_game_sales_in_NA-mean_NA)/std_NA
z

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [39]:
# all_platforms_ave=df["Platform"].Global_Sales.mean()
wii_paltform_ave = df[df["Platform"] == 'Wii'].Global_Sales.mean()
wii_paltform_ave

0.6994037735849057

### what is the newest game in the list ?

In [40]:
year=df[['Name','Year']].sort_values('Year', ascending=False).head(20)
# year.iloc[0]
year.iloc[0].Name

'Imagine: Makeup Artist'

### what the most popular game in japan ?

In [41]:
japan_most_selling_game=df[['Name','JP_Sales']].sort_values('JP_Sales', ascending=False).head(20)
japan_most_selling_game.iloc[0].Name

'Pokemon Red/Pokemon Blue'

### Top 5 Best Selling Sega games?

In [42]:
df[df['Publisher']=='Sega'][['Publisher','Name','Global_Sales']].sort_values('Global_Sales', ascending=False).head(5)

    Publisher                                       Name  Global_Sales
85       Sega         Mario & Sonic at the Olympic Games          8.06
143      Sega                       Sonic the Hedgehog 2          6.03
189      Sega         Mario & Sonic at the Olympic Games          5.14
233      Sega  Mario & Sonic at the Olympic Winter Games          4.58
254      Sega                         Sonic the Hedgehog          4.34

In [43]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher,'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name,'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name,'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(North_American_median,0.08)
    assert_equal(ten_median_na_seller_names,['Turok: Evolution', 'Deadpool', 'GT Advance 2: Rally Racing', "A Witch's Tale", 'Nickelodeon Dance', 'Phantasy Star Collection', "LEGO Knights' Kingdom", 'Family Game Night 4: The Game Show', 'NBA Jam 2002', "Tony Hawk's Pro Skater 5", "Tom Clancy's Rainbow Six: Rogue Spear"])

    print("Success!!!")

test()

Success!!!